<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The new boston</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="handle.js" type="text/javascript"></script>
</head>
<body>
    <input id="edtEmail" type="email" placeholder="Nhap emaill">
    <input id="edtPassword" type="password" placeholder="Nhap password">
    <input id="edtName" type="text" placeholder="Nhap name">    
    <button id="btnDangNhap">Đăng nhập</button>        
    <button id="btnDangKy">Đăng ký</button>            
    <button id="btnDangXuat">Đăng xuất</button>    
</body>
</html>